.container {
  width: 100%;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10px;
}

.carousel {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 80vh;
}

.carouselItem {
  position: relative;
  display: none;
  width: 100%;
  height: 80vh;
  transition: opacity 0.6s ease;
}

.carouselItem.active {
  display: block;
  opacity: 1;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: white;
  z-index: 2;
}

.centeredButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: #60D8F4;
  color: #0b0101;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 2;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.centeredButton:hover {
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
}


.carouselDots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.controlPrev,
.controlNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
